@model ParliamentDomain.Model.Location

@{
    ViewData["Title"] = "Delete";
}

<h3>Ви впевненні що хочете видалити цей запис?</h3>

<div>
    <h4>Місце</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.GoogleMapsLink)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.GoogleMapsLink)
        </dd>
        <dt class = "col-sm-3">
            @Html.DisplayNameFor(model => model.Contact)
        </dt>
        <dd class = "col-sm-9">
            @Html.DisplayFor(model => model.Contact.Email)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Видалити" class="btn btn-danger" />
        <a class="btn btn-outline-secondary" href="javascript:void(0);" onclick="window.history.back();">Повернутися</a>
    </form>
</div>
