@model ParliamentDomain.Model.Location

@{
    ViewData["Title"] = "Details";
}
<h1>Місце</h1>
<h4>@Html.DisplayFor(model => model.Name)</h4>

<hr />

<div class="row">
    <div class="col-md-10">
        <p>
            <b>@Html.DisplayNameFor(model => model.Address)</b>: @Html.DisplayFor(model => model.Address)
        </p>
        <p>
            <b>@Html.DisplayNameFor(model => model.Contact.Email)</b>: @Html.DisplayFor(model => model.Contact.Email)
        </p>
        <p>
            <b>Соцмережі: </b>
            <a href="@Html.DisplayFor(model => model.Contact.InstagramLink)">
                <img style="max-width: 30px; margin: 0 0 0 20px" src="~/lib/images/Instagram-logo.svg" />
            </a>
            <a href="@Html.DisplayFor(model => model.Contact.TelegramLink)">
                <img style="max-width: 30px; margin: 0 0 0 20px" src="~/lib/images/Telegram-logo.svg" />
            </a>
        </p>
    </div>
    <div class="col-md-2">
        <p><b>Переглянути на мапі:</b></p>
        <a href="@Html.DisplayFor(model => model.GoogleMapsLink)" target="_blank">
            <img style="max-width: 140px" src="~/lib/images/GoogleMaps-logo.svg" />
        </a>
        
    </div>
</div>
<p>
    <b>Події в цьому місці: </b>
    <a asp-controller="Events" asp-action="Index" asp-route-locationId="@Model?.Id" class="text-decoration-underline text-info">Переглянути</a>
</p>
<a asp-action="Index" class="btn btn-secondary">До переліку локацій</a>
<br />
<br />
@{
    if (User.IsInRole("admin") || User.IsInRole("worker"))
    {
        <div class="btn-group mb-2">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Змінити</a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Видалити</a>
        </div>
    }
}
