@model IEnumerable<ParliamentDomain.Model.Location>

@{
    ViewData["Title"] = "Locations";
}

<h1>Місця</h1>

<p>
    <div class="container">
        <a asp-action="Create" class="btn btn-primary">Створити нове місце</a>
    </div>
</p>
<hr/>
<table class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <a class="btn btn-outline-primary" asp-action="Details" asp-route-id="@item.Id">Детальніше</a>
            </td>
        </tr>
}
    </tbody>
</table>
