@using Microsoft.AspNetCore.Identity
@model ParliamentInfrastructure.ViewModels.ChangeRoleViewModel

<h2>Зміна ролей для користувача @Model.UserEmail</h2>

<form asp-action="Edit" method="post">
	<input type="hidden" name="userId" value="@Model.UserId"/>
	<div class="form-group">
		@foreach(IdentityRole role in Model.AllRoles)
		{
			<div class="form-check">
				<div class="checkbox">
					<input type="checkbox" name="roles" value="@role.Name" class="form-check-input"
					@(Model.UserRoles.Contains(role.Name) ? "checked=\"checked\"" : "") />@role.Name <br />
				</div>
			</div>
		}
	</div>
	<button type="submit" class="btn btn-primary">Зберегти</button>
</form>

