@model ParliamentDomain.Model.Department

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Name)</h1>

<div class="btn-group mb-2">
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Змінити</a>
    <a asp-action="Index" class="btn btn-secondary">До усіх департаментів</a>
</div>
<hr />
<div class="row">
    <div class="col-md-11">
        @Html.Raw(Model.Description)
    </div>
    <div class="col-md-1">
        <p class="text-center"><b>Наші соцмережі:</b></p>
        <a href="@Html.DisplayFor(model => model.Contact.InstagramLink)" target="_blank">
            <img style="max-width: 60px; margin: 8px;" src="~/lib/images/Instagram-logo.svg" />
        </a>
        <a href="@Html.DisplayFor(model => model.Contact.TelegramLink)" target="_blank">
            <img style="max-width: 60px;margin: 8px;" src="~/lib/images/Telegram-logo.svg" />
        </a>
    </div>
</div>

<hr />
    
<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    Новини департаменту
                </h4>
                <p>
                    Останні новини
                </p>
            </div>
            
        </div>
    </div>
    <div class="col-md-6">
        <div class="card">
            <div class="card-header">
                <h4>
                    Події департаменту
                </h4>
                <p>
                    Найближчі події
                </p>
            </div>
            
        </div>
    </div>
</div>


<h2>Хочете зв'язатися з нами?</h2>
<p>Напишіть нам лист на електронну пошту <b>@Html.DisplayFor(model => model.Contact.Email)</b></p>

<a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Видалити</a>