@model ParliamentDomain.Model.News

@{
    ViewData["Title"] = "Details";
}

<h1>@Html.DisplayFor(model => model.Title)</h1>

<h4>Новина</h4>

<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Department)
    </dt>
    <dd class="col-sm-10">
        <a class="badge bg-warning" asp-controller="Departments" asp-action="Details" asp-route-id="@Model?.DepartmentId">
            @Html.DisplayFor(model => model.Department.Name)
        </a>
    </dd>
    <dt class = "col-sm-2">
        @Html.DisplayNameFor(model => model.PublicationDate)
    </dt>
    <dd class = "col-sm-10">
        @Html.DisplayFor(model => model.PublicationDate)
    </dd>
</dl>
<hr />
<div>
    @Html.Raw(Model.Description)
</div>
<a asp-action="Index" class="btn btn-secondary">До переліку новин</a>
<br />
<br />
@{
    if (User.IsInRole("admin") || User.IsInRole("worker"))
    {
        <div class="btn-group mb-2">
            <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary">Змінити</a>
            <a asp-action="Delete" asp-route-id="@Model?.Id" class="btn btn-danger">Видалити</a>
        </div>
    }
}

