@model ParliamentDomain.Model.Contact

@{
    ViewData["Title"] = "Delete";
}

<h3>Ви впевненні що хочете видалити цей запис?</h3>
<div>
    <h4>Контакт</h4>
    <hr />
    <dl class="row">
        <dt class = "col-md-4">
            @Html.DisplayNameFor(model => model.Phone)
        </dt>
        <dd class = "col-md-8">
            @Html.DisplayFor(model => model.Phone)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.InstagramLink)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.InstagramLink)
        </dd>
        <dt class="col-md-4">
            @Html.DisplayNameFor(model => model.TelegramLink)
        </dt>
        <dd class="col-md-8">
            @Html.DisplayFor(model => model.TelegramLink)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <div class="btn-group mb-2">
            <input type="submit" value="Видалити" class="btn btn-danger" />
            <a class="btn btn-outline-secondary" href="javascript:void(0);" onclick="window.history.back();">Повернутися</a>
        </div>
    </form>
</div>
