@model IEnumerable<ParliamentDomain.Model.Contact>

@{
    ViewData["Title"] = "Index";
}

<h1>Контакти</h1>

<p>
    <a asp-action="Create">Створити новий контакт</a>
</p>
<table class="table table-hover">
    <thead>
        <tr class="table-secondary">
            <th scope="col">
                @Html.DisplayNameFor(model => model.Phone)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th scope="col">
                @Html.DisplayNameFor(model => model.InstagramLink)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InstagramLink)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Змінити</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Детальніше</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Видалити</a>
            </td>
        </tr>
}
    </tbody>
</table>
